/* Stars.css */
.stars {
    width: 100%; /* Adjust the width as needed to make stars larger */
    height: 500px; /* Adjust the height accordingly */
    position: absolute;
    background-image: url('../../assets/stars.png'); /* Replace with your stars image */
    background-size: cover;
    animation: zoom1 15s ease-in-out; /* Make the animation continuous */
    transform: scale(1.5);
    opacity: 0.7; /* Initial opacity */
    z-index: 2; /* Ensure stars appear between the background and the globe */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
  }
  
  @keyframes zoom1 {
    0% {
      opacity: 0.5;
      transform: scale(1); /* Keep the scale at 100% at the start and end */
    }
    100% {
      opacity: 1;
      transform: scale(1.5); /* Zoom in to 120% size */
    }
  }

@media (min-width: 768px) {
.stars {
    width: 1000px; /* Adjust the width as needed to make stars larger */
    height: 1000px; /* Adjust the height accordingly */
    position: absolute;
    background-image: url('../../assets/stars.png'); /* Replace with your stars image */
    background-size: cover;
    animation: zoom1 3s ease-in-out; /* Make the animation continuous */
    transform: scale(1.5);
    opacity: 0.7; /* Initial opacity */
    z-index: 2; /* Ensure stars appear between the background and the globe */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}
}
  