@import './../../styles/variables.module.scss';

.msg {
  height: 20px;
  font-family: var(--font-kanit);
  color: #fff;
}

.form {
  flex: 0 0 auto;
  height: 25%;
  display: flex;
  flex-direction: column;
}
