@import './../../styles/variables.module.scss';

.error {
  font-family: var(--font-kanit);
  color: red;
}

.success {
  font-family: var(--font-kanit);
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
}
