@import './../../styles/variables.module.scss';

.container {
  max-width: 90%;
  margin: 0 auto;
  z-index: 50;
}

@media (min-width: $breakpoint-tablet) {
  .homepage {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: $breakpoint-laptop-l) {
  .homepage {
    max-width: 50%;
    margin: 0 auto;
  }
}
