@import './../../../styles/variables.module.scss';

.textInput {
  background-color: $input-background;
  color: $text-dark;
  border: 2px solid #193556;
  border-radius: 12px;
  padding: 5px 20px;
  height: 48px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
