html {
  font-family: var(--font-kanit);
  background-color: #071d36;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: var(--font-kanit);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: var(--font-kanit);
  font-weight: normal;
  color: #a1abbd;
  text-decoration: none;
  margin-right: 2px;
  margin-left: 2px;
}
