// Colors

$primary-lightest: #CCE4FF;
$primary-light: #80BAFF;
$primary-medium: #2288FF;
$primary-dark: #0052B2;
$primary-darkest: #071D36;

$text-lightest:#FFFFFF;
$text-light:#DDE0E4;
$text-medium:#B5BBC3;
$text-dark:#7D8895;
$text-darkest:#7D8895;