// Colors

$primary-lightest: #cce4ff;
$primary-light: #80baff;
$primary-medium: #2288ff;
$primary-dark: #0052b2;
$primary-darkest: #071d36;

$text-lightest: #ffffff;
$text-light: #dde0e4;
$text-medium: #b5bbc3;
$text-dark: #7d8895;
$text-darkest: #7d8895;
