@import './../../styles/variables.module.scss';

.columnSection {
  display: block;
  justify-content: space-between;
  padding: 20px; /* Adjust the padding as needed */
  background-color: $primary-darkest;
  padding-top: 100px;
  padding-bottom: 30px;
}

.column {
  display: block;
  text-align: center;
  width: 100%;
}

.columnImage {
  width: 100%;
  max-width: 300px;
  height: 200px;
  border-radius: 12px;
}

.geoImage {
  width: 100%;
  max-width: 200px;
  height: 200px;
  border-radius: 12px;
}

.columnTitle {
  font-size: 2rem;
  margin-top: 10px; /* Adjust the margin as needed */
  color: $text-light;
  text-align: left;
  font-family: var(--font-kanit);
  font-weight: $semi-bold;
}

.columnText {
  font-size: 1rem;
  color: $text-light;
  text-align: left;
  font-family: var(--font-kanit);
  font-weight: $regular;
}

.copyright {
  color: $text-medium;
}
.legalLink {
  color: $text-medium;
  margin-right: 2px;
  margin-left: 2px;
}

@media (min-width: 768px) {
  .columnSection {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Adjust the padding as needed */
    background-color: #071d36;
    padding-top: 100px;
    padding-bottom: 30px;
  }

  .column {
    flex: 1;
    margin: 0 10px; /* Adjust the margin for spacing between columns */
    text-align: center;
    width: 100px;
  }
}
