@import '../styles/variables.module.scss';

.background {
  display: flex;
  height: 100vh;
  background-color: $primary-darkest;
  background-image: url('../assets/bg.png');
  background-repeat: repeat;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 100vh;
  outline: 1px solid red;
}

.titleSection {
}

.title {
  font-family: var(--font-kanit);
  font-weight: $semi-bold;
  color: #fff;
}

.logo {
  width: 300px;
  height: 200px;
  outline: 1px solid red;
}

.planet {
  margin: auto;
  position: relative;
  width: 200px;
  height: 200px;
  left: 100px;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateX(-8px) translateY(-8px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}

@media (min-width: $breakpoint-tablet) {
  .planet {
    width: 400px;
    height: 400px;
    left: 200px;
  }
}
