@import '../styles/variables.module.scss';

.background {
  display: flex;
  height: 100vh;
  background-color: $primary-darkest;
  // background-image: url('../assets/bg.png');
  background-repeat: repeat;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 10px auto auto;
  z-index: 30;
}

.title {
  margin-top: -60px; // overlap image spacing
  h2 {
    font-family: var(--font-kanit);
    font-weight: $semi-bold;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
  }
}

.logo {
  margin: auto;
  width: fit-content;
  img {
    width: 362px;
    height: 259px;
  }
}

.planet {
  position: relative;
  animation: rotate 100s ease infinite;
  img {
    width: 200px;
    height: 200px;
  }
}

.plane {
  position: absolute;
  animation:
    flyIn 1s ease-in-out forwards,
    float 5s ease-in-out infinite 1s;
  top: 100px;
  img {
    width: 140px;
    height: auto;
  }
}

.mid {
  position: relative;
  margin: auto;
}

@keyframes flyIn {
  0% {
    transform: translate(30%, -0%) scale(0) rotate(15deg);
    opacity: 0;
  }

  20% {
    transform: translate(-70%, -70%) scale(0.3) rotate(-15deg);
    opacity: 0.8;
  }

  50% {
    transform: translate(-80%, -80%) scale(0.5) rotate(-15deg);
    opacity: 0.8;
  }

  100% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateX(-8px) translateY(-8px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: $breakpoint-tablet) {
  .content {
    margin: auto;
  }
  .title {
    h2 {
      font-size: 2rem;
    }
  }

  .planet {
    img {
      width: 400px;
      height: 400px;
    }
  }

  .plane {
    top: 180px;
    img {
      width: 280px;
      height: auto;
    }
  }
}
