@import '../styles/variables.module.scss';

.background {
  display: flex;
  height: 100vh;
  background-color: $primary-darkest;
  background-image: url('../assets/bg.png');
  background-repeat: repeat;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
}

.title {
  margin-top: -60px; // overlap image spacing
  h2 {
    font-family: var(--font-kanit);
    font-weight: $semi-bold;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
  }
}

.logo {
  margin: auto;
  width: fit-content;
  img {
    width: 362px;
    height: 259px;
  }
}

.planet {
  position: relative;
  left: 100px;
  top: 100px;
  animation: float 5s ease-in-out infinite;
  img {
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
  }
}

.top {
  flex: 0 0 auto;
  height: 25%;
}

.mid {
  flex: 1;
  display: flex;
  align-items: center;
  margin: auto;
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateX(-8px) translateY(-8px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}

@media (min-width: $breakpoint-tablet) {
  .title {
    h2 {
      font-size: 2rem;
    }
  }

  .planet {
    left: 200px;
    top: 200px;
    img {
      width: 400px;
      height: 400px;
      left: 200px;
      top: 200px;
    }
  }
}
