@import './../../styles/variables.module.scss';

.footer {
  font-family: var(--font-kanit);
  background-color: $primary-darkest;
  padding: 20px;
  display: flex;
  color: $text-footer;

  .divider {
    border-top: 1px solid $text-darkest;
    margin-bottom: 20px;
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;

    .copyright {
      display: flex;
      flex-direction: column-reverse;
    }

    .links {
      text-align: center;
      display: flex;
      justify-content: space-between;

      a {
        margin-left: 5px;
        margin-right: 5px;

        :hover {
          opacity: 0.6;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .footer {
    .content {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;

      .copyright {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
