@import './../../../styles/variables.module.scss';

.primaryButton {
  border: none;
  padding: 0;
  background-color: transparent;
  color: white;
  position: relative;
  outline: 1px solid orange;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.topLayer {
  width: 100px;
  height: 50px;
  border-radius: 12px;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
}

.bottomLayer {
  width: 100px;
  height: 50px;
  border-radius: 12px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}
